.couleur{
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
  }
  
  .col {
    flex: 1;
    padding: 10px;
  }
  

  .list-group-item {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-bottom: solid 1px darkgoldenrod;
  }
  
  
  .left-div {
    flex: 1;
  }
  
  .right-div {
    margin-left: 10px;
  }